.App {
  text-align: center;
}

.main-nav {
  margin-bottom: 1rem;
  background: black;
  padding: 1rem;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  display: flex;
  flex-direction: row;
}

.nav-item {
  text-decoration: none;
  color: white;
  margin-right: 1rem;
}

.nav-item-active {
  color: #88ccff;
  font-weight: bold;
}
