/* Smurf Form Styling */

.SmurfForm {
  margin: 0 auto;
  margin-top: 2rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.form-container input {
  margin-bottom: 1rem;
  padding: 1rem 2rem 1rem 2rem;
  font-size: 14px;
  border-radius: 5px;
}

.form-container input:focus {
  outline: 0;
}

.form-container button {
  background: black;
  color: white;
  border-radius: 5px;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.form-container button:hover {
  background: #88ccff;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  cursor: pointer;
}
